.file-upload-wrapper {
  margin-top: 4rem;
  .input-group {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 10px;
    flex-direction: column;
    label {
      font-weight: 200;
      margin-bottom: 10px;
    }
    input {
      margin-top: 10px;
      color: #d06c41;
      &::file-selector-button {
        margin-right: 12px;
        color: #d06c41;
        text-transform: uppercase;
        background-color: #0000;
        border: 1px solid #d06c41;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s;
      }
    }
    input[type="file"]::file-selector-button:hover {
      background-color: #d06c41;
      color: #f7f7f7;
    }
  }
  .file-details {
    margin-bottom: 40px;
    display: flex;
    /* border: 1px solid #d06c41; */
    /* justify-content: space-between; */
    align-items: flex-start;
    gap: 80px;
    flex-wrap: wrap;
    span {
      width: 200px;
      /* border: 1px solid #d06c41; */
    }
    img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      margin-right: 10px;
    }
    ul {
      width: 400px;
      /* border: 1px solid #d06c41; */
      word-wrap: break-word;

      margin-top: 4px;
      li {
        /* word-wrap: break-word; */
        padding: 5px;
        list-style: none;
        font-weight: 200;
      }
    }
  }
  button {
    color: #d06c41;
    text-transform: uppercase;
    background-color: #0000;
    border: 1px solid #d06c41;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background-color: #d06c41;
      color: #f7f7f7;
    }
    &:disabled {
      /* background-color: #6f6f6f;
      color: #000;
      border: none; */
      color: #d06c41;
      background-color: #0000;
      border: 1px solid #d06c41;
      cursor: not-allowed;
    }
  }
  .remove {
    color: #d06c41;
    cursor: pointer;
    padding: 5px;
    align-self: center;
    transition: all 0.3s;
    &:hover {
      background-color: #d06c41;
      svg {
        stroke: #f7f7f7;
      }
    }
  }
  .upload-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
  }

  .upload-status {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
