.search-container {
  margin-top: 4rem;
  /* border: 1px solid #ccc; */
  .textarea-wrapper {
    width: 80%;
    /* border: 1px solid red; */
    margin: 0 auto;
    position: relative;
    border-bottom: 1px solid #ccc;
    transition: border 0.1s ease-in-out;
    &:focus-within {
      border-bottom: 1px solid #d06c41;
    }
  }
  textarea {
    resize: none;
    width: 93% !important;
    /* height: 50px !important; */
    min-height: 50px;
    max-height: 330px;
    height: auto;
    overflow: hidden;
    line-height: 1.2;
    padding: 0.5rem;
    font-size: 1.2rem;
    background: transparent;
    border: none;
    color: #fff;
    transition: height 0.2s ease; /* Smooth transition */
    &::placeholder {
      color: #6f6f6f;
    }
    &:focus-visible {
      outline: none;
    }
    @media (max-width: 1000px) {
      margin-top: 2rem;
    }
  }
  svg {
    position: absolute;
    right: 32px;
    top: 0;
    cursor: pointer;
    &:hover {
      stroke: #d06c41;
    }
    &:focus {
      stroke: #d06c41;
      outline: none;
    }
  }
  .clear-icon {
    position: absolute;
    right: 0px;
    top: 0;
    cursor: pointer;
    &:hover {
      stroke: #d06c41;
    }
    &:focus {
      stroke: #d06c41;
      outline: none;
    }
  }
}
